%svg-common {
	background: url("svg/sprite.css-9c83d774.svg") no-repeat;
}

.svg-cart {
	@extend %svg-common;
	background-position: 29.229406554472984% 22.983870967741936%;
}

.svg-cart-dims {
	width: 21px;
	height: 18px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 24.229074889867842% 65.82278481012658%;
}

.svg-fb-dims {
	width: 15px;
	height: 29px;
}

.svg-flag {
	@extend %svg-common;
	background-position: 6.074342701722575% 69.72972972972973%;
}

.svg-flag-dims {
	width: 47px;
	height: 81px;
}

.svg-htmlacademy {
	@extend %svg-common;
	background-position: 19.14514692787177% 67.24137931034483%;
}

.svg-htmlacademy-dims {
	width: 27px;
	height: 34px;
}

.svg-huge-arrow-left {
	@extend %svg-common;
	background-position: 25.90909090909091% 37.916666666666664%;
}

.svg-huge-arrow-left-dims {
	width: 50px;
	height: 26px;
}

.svg-huge-arrow-right {
	@extend %svg-common;
	background-position: 21.363636363636363% 37.916666666666664%;
}

.svg-huge-arrow-right-dims {
	width: 50px;
	height: 26px;
}

.svg-icon-1 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icon-1-dims {
	width: 32px;
	height: 37px;
}

.svg-icon-3 {
	@extend %svg-common;
	background-position: 19.492293744333637% 53.97489539748954%;
}

.svg-icon-3-dims {
	width: 47px;
	height: 27px;
}

.svg-icon-4 {
	@extend %svg-common;
	background-position: 22.922374429223744% 23.45679012345679%;
}

.svg-icon-4-dims {
	width: 55px;
	height: 23px;
}

.svg-icon-5 {
	@extend %svg-common;
	background-position: 23.476702508960575% 53.97489539748954%;
}

.svg-icon-5-dims {
	width: 34px;
	height: 27px;
}

.svg-icon-6 {
	@extend %svg-common;
	background-position: 21.665174574753806% 66.66666666666667%;
}

.svg-icon-6-dims {
	width: 33px;
	height: 32px;
}

.svg-insta {
	@extend %svg-common;
	background-position: 29.69858156028369% 37.142857142857146%;
}

.svg-insta-dims {
	width: 22px;
	height: 21px;
}

.svg-interior {
	@extend %svg-common;
	background-position: 10.279531109107303% 63.23529411764706%;
}

.svg-interior-dims {
	width: 41px;
	height: 62px;
}

.svg-logo-footer {
	@extend %svg-common;
	background-position: 14.217557251908397% 24.56896551724138%;
}

.svg-logo-footer-dims {
	width: 102px;
	height: 34px;
}

.svg-map-pin {
	@extend %svg-common;
	background-position: 0 77.71084337349397%;
}

.svg-map-pin-dims {
	width: 67px;
	height: 100px;
}

.svg-mishka-logo-desktop {
	@extend %svg-common;
	background-position: 0 29.38144329896907%;
}

.svg-mishka-logo-desktop-dims {
	width: 149px;
	height: 72px;
}

.svg-mishka-logo-mobile {
	@extend %svg-common;
	background-position: 14.003759398496241% 39.39393939393939%;
}

.svg-mishka-logo-mobile-dims {
	width: 86px;
	height: 35px;
}

.svg-search {
	@extend %svg-common;
	background-position: 31.537102473498233% 36.8421052631579%;
}

.svg-search-dims {
	width: 18px;
	height: 19px;
}

.svg-toy-svg {
	@extend %svg-common;
	background-position: 14.220183486238533% 62.926829268292686%;
}

.svg-toy-svg-dims {
	width: 60px;
	height: 61px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 27.175843694493782% 23.170731707317074%;
}

.svg-twitter-dims {
	width: 24px;
	height: 20px;
}

.svg-zigzag-fill-desktop {
	@extend %svg-common;
	background-position: 0 9.913793103448276%;
}

.svg-zigzag-fill-desktop-dims {
	width: 1150px;
	height: 34px;
}

.svg-zigzag-line-desktop {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-zigzag-line-desktop-dims {
	width: 1150px;
	height: 23px;
}

