@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin mobile {
  @media (max-width: $min-tablet-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin desktop{
  @media (min-width: $min-desktop-width) {
    @content;
  }
}

svg {
  max-width: 100%;
  max-height: 100%;
}
