$white: #fff;
$black: #000;
$aquamarine: #63d1bb;
$dark-aquamarine: #56c3b2;
$light-gray: #f1f1f1;
$gray: #d3d2d2;
$dark-gray: #444;

$html-size-base: 10px;
$font-size-sm: 1.4rem;
$font-size: 1.6rem;
$font-size--md: 2.0rem;
$font-size--bg: 2.4rem;
$font-size--lg: 5rem;

$font-family-base: Roboto, Geneva, sans-serif;

$min-mobile-width: 320px;
$min-tablet-width: 760px;
$min-desktop-width: 1150px;
