.btn {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $dark-gray;
    background: $white;
    border: solid $dark-gray 2px;
    transition: all 0.4s ease-out;
    outline: none;
    @include tablet {
        width: 50%;
    };
    @include desktop {
        width: 30%;
    };
    &:hover {
      background: $dark-gray;
      color: $white;
    }
    &:active {
      color: $gray;
    }
}
