.featuring {
    position: relative;
    @include desktop {
        padding-left: 175px/$min-desktop-width * 100%;
    };
    &__name {
        margin-top: 30px;
        font-size: $font-size--bg;
        @include tablet {
            margin-top: 40px;
            margin-bottom: 35px;
            font-size: 40px;
            line-height: 50px;
        };
        @include desktop {
            margin-top: 90px;
            font-size: $font-size--lg;
            line-height: 57px;
        };
    }
    &__heading {
        font-size: $font-size;
        line-height: 1;
        text-transform: uppercase;
        color: $aquamarine;
        font-weight: lighter;
        @include tablet {
            position: absolute;
            top: 0;
            right: 50px/$min-tablet-width * 100%;
            width: 80px;
            text-align: center;
        };
        @include desktop {
            left: ((50px + 48px)/$min-desktop-width * 100%);
            text-align: center;
            font-size: $font-size;
        };
    }
    &__description {
        font-size: $font-size-sm;
        line-height: 24px;
        @include tablet {
            float: left;
            width: 45%;
            margin-bottom: 40px;
        };
        @include desktop {
            width: 80%;
            margin-bottom: 50px;
            padding-right: 43%;
            font-size: $font-size;
            line-height: 30px;
        };
    }
    &__pic {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        @include tablet {
            transform: none;
            position: absolute;
            width: auto;
            max-width: none;
            top: 105px;
            left: auto;
            right: 50px/$min-tablet-width * 100%;
        }
        @include desktop {
            top: -50px;
            z-index: -1;
            right: 50px/$min-desktop-width * 100%;
        };
    }
    &__info-table {
        margin-bottom: 30px;
        @include tablet {
            width: 94%;
            padding-right: 50%;
            margin-bottom: 20px;
        };
        @include desktop {
            width: 85%;
            margin-bottom: 75px;
            font-size: 15px;
            line-height: 20px;
        };
    }
    &__price {
        display: block;
        width: 146px;
        margin: 25px auto;
        font-size: $font-size;
        font-weight: bold;
        color: $dark-gray;
        @include tablet {
            margin: 56px 0 40px;
            width: 45%;
            text-align: center;
        };
        @include desktop {
            width: 35%;
            font-size: 18px;
            margin: 33px 0 60px;
        };
    }
    &__order-btn {
        margin-bottom: 80px;
        @include tablet {
            width: 45%;
            margin-bottom: 130px;
        };
        @include desktop {
            width: 35%;
            margin-bottom: 150px;
        };
    }
    &__delimiter {
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: -120px;
        right: 0;
        fill: $light-gray;
        @include tablet {
            bottom: -135px;
            right: 0;
        }
        @include desktop {
            bottom: -155px;
        };
    }
}
.product-info {
    font-size: $font-size-sm;
    line-height: 20px;
    &__item td {
        padding: 10px 0;
        border-bottom: solid $light-gray 1px;
    }
}
