.intro {
    position: relative;
    background: url("../img/hero-mobile@1x.jpg") center;
    background-size: cover;
    padding-top: 1px;
    &__heading {
        margin-top: 90px;
        margin-bottom: 120px;
        text-align: center;
        font-size: $font-size--bg;
        @include tablet {
            margin: 150px 85px/$min-tablet-width * 100% 375px 85px/$min-tablet-width * 100%;
            font-size: 40px;
            line-height: 50px;
            @include desktop {
                margin: 150px 180px/$min-desktop-width * 100% 375px 180px/$min-desktop-width * 100%;
            };
        };
    }
    &::after {
        @include tablet {
            content: '';
            width: 100%;
            height: 40px;
            background: url("../img/zigzag-fill-desktop.png");
            position: absolute;
            z-index: 10;
            bottom: -10px;
            left: 0;
        }
    }
}
.products-menu {
    font-size: 0;
    font-weight: bold;
    @include tablet {
        margin: 0 (50px/$min-tablet-width * 100%);
    };
    @include desktop {
        margin: 0 (50px/$min-desktop-width * 100%);
    };
    & li {
        @include tablet {
            display: inline-block;
            width: 50%;
        };
    }
    &__text {
        display: inline-block;
        font-size: 18px;
        width: 50%;
        padding-top: 10px;
        vertical-align: top;
        @include tablet {
            font-size: $font-size--md;
            line-height: 30px;
        };
    }
    &__icon {
        display: inline-block;
        width: 50%;
        height: 61px;
        fill: #35a999;
        padding-left: 50px;
    }
    &__item {
        display: block;
        vertical-align: top;
        font-size: 0;
        padding: 24px (30px/$min-mobile-width * 100%) 28px (30px/$min-mobile-width * 100%);
        color: $white;
        @include tablet {
            padding-top: 26px;
            padding-bottom: 40px;
        };
        &--interior {
            background-color: $aquamarine;
        }
        &--toys {
            background-color: $dark-aquamarine;
        }
    }
}
