.review {
    position: relative;
    margin-top: 60px;
    @include tablet {
        margin-bottom: 70px;
        background: url('../img/review@1x.jpg') no-repeat 0 0;
        background-size: contain;
    };
    @include desktop {
        margin-bottom: 80px;
        padding: 0 175px/$min-desktop-width * 100%;
        background-position: 50px/$min-desktop-width * 100%;
    };
    &__heading {
        font-size: $font-size--bg;
        line-height: 30px;
        @include tablet {
            padding-top: 80px;
            font-size: 40px;
            line-height: 50px;
            @include desktop {
                font-size: 50px;
                line-height: 57px;
            };
        };
    }
    &__carousel {
        margin-top: 25px;
        @include tablet {
            margin-top: 50px;
        };
    }
    &__open-btn {
        position: absolute;
        bottom: 40px;
        @include tablet {
            width: 25%;
            bottom: 350px;
            right: 0;
        };
        @include desktop {
            right: -250px/$min-desktop-width * 100%;
        };
    }
    &__delimiter {
        position: absolute;
        z-index: -1;
        width: 100%;
        bottom: -75px;
        right: 0;
        fill: $light-gray;
        @include tablet {
            bottom: -145px;
            right: 0;
        }
        @include desktop {
          bottom: -150px;
        };
    }
}
